.form-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-transform: uppercase;
  background-color: transparent;
  padding: 20px;
  color: var(--color-white);
  width: 300px;
}

h2 {
  color: var(--color-white);
}

.form-field-name {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-field-weather {
  display: flex;
  justify-content: space-between;
}

input[type="text"] {
  background-color: var(--color-white);
  border-radius: 4px;
  border: 2px solid var(--color-white);
}

label {
  color: var(--color-white);
  font-weight: bold;
}

.submit {
  border-radius: 8px;
  border: 2px solid var(--color-white);
  color: var(--color-white);
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: transparent;
  cursor: pointer;
  transition: border-color 0.25s;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.submit:active {
  box-shadow: none;
  transform: translateY(2px);
}
