.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  color: var(--color-white);
  padding-top: 200px;
  margin-bottom: 10px;
  min-width: 320px;
}

li {
  color: #333333;
  padding: 5px 10px;
  box-shadow: 0 2px 4px var(--color-white);
  border: 2px solid var(--color-white);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  padding: 0.75rem 1rem 0.75rem 1.25rem;
  margin-bottom: 20px;
}

.good-weather-list-button {
  border: none;
  background-color: transparent;
  color: var(--color-dark);
}

.good-weather-list-button:hover {
  color: var(--color-dark);
  font-weight: bold;
}

.good-weather-list-button:active {
  transform: translateY(1.5px);
}

.bad-weather-list-button {
  border: none;
  background-color: transparent;
  color: var(--color-white);
}

.bad-weather-list-button:hover {
  color: var(--color-white);
  font-weight: bold;
}

.bad-weather-list-button:active {
  transform: translateY(1.5px);
}

.location-button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.good-weather-li {
  color: var(--color-dark);
}

.bad-weather-li {
  color: var(--color-white);
}

.drag-drop-placeholder {
  visibility: hidden;
}
