* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  place-items: center;
  /* min-width: 320px;
  min-height: 100vh; */
  color: var(--color-dark);
}

body {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.good-weather {
  background: linear-gradient(to bottom, white, #36a6fc);
}

.bad-weather {
  background: linear-gradient(to bottom, var(--color-dark), #1f70af);
}
