* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main {
  margin-top: 150px;
}

.headline-location {
  text-decoration: underline;
  font-style: italic;
}
.good-weather-bg {
  background: linear-gradient(to bottom, var(--color-white), #36a6fc);
  color: var(--color-dark);
}

.bad-weather-bg {
  background: linear-gradient(to bottom, var(--color-dark), #1f70af);
  color: var(--color-white);
}
